html {
  background-color: rgb(245, 241, 234);
}

.canvas-container {
  width: 300px;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  /* touch-action: none; */
  -webkit-user-select: none;
}

.name-field {
  width: 300px;
  margin-bottom: 20px;
}

.drawings-container {
  flex-wrap: wrap;
  padding: 25px;
}

.drawing-tile {
  padding: 5px;
}
